In [2]:
from  datetime import datetime, timedelta
import gc
import numpy as np, pandas as pd
import lightgbm as lgb

In [3]:
CAL_DTYPES={"event_name_1": "category", "event_name_2": "category", "event_type_1": "category", 
         "event_type_2": "category", "weekday": "category", 'wm_yr_wk': 'int16', "wday": "int16",
        "month": "int16", "year": "int16", "snap_CA": "float32", 'snap_TX': 'float32', 'snap_WI': 'float32' }
PRICE_DTYPES = {"store_id": "category", "item_id": "category", "wm_yr_wk": "int16","sell_price":"float32" }

In [4]:
pd.options.display.max_columns = 50

In [5]:
h = 28 
max_lags = 70
tr_last = 1913
fday = datetime(2016,4, 25) 
fday

datetime.datetime(2016, 4, 25, 0, 0)

/home/abhilash/Downloads/m5/input

In [6]:
def create_dt(is_train = True, nrows = None, first_day = 1200):
    prices = pd.read_csv("../input/m5-forecasting-accuracy/sell_prices.csv", dtype = PRICE_DTYPES)
    for col, col_dtype in PRICE_DTYPES.items():
        if col_dtype == "category":
            prices[col] = prices[col].cat.codes.astype("int16")
            prices[col] -= prices[col].min()
            
    cal = pd.read_csv("../input/m5-forecasting-accuracy/calendar.csv", dtype = CAL_DTYPES)
    cal["date"] = pd.to_datetime(cal["date"])
    for col, col_dtype in CAL_DTYPES.items():
        if col_dtype == "category":
            cal[col] = cal[col].cat.codes.astype("int16")
            cal[col] -= cal[col].min()
    
    start_day = max(1 if is_train  else tr_last-max_lags, first_day)
    numcols = [f"d_{day}" for day in range(start_day,tr_last+1)]
    catcols = ['id', 'item_id', 'dept_id','store_id', 'cat_id', 'state_id']
    dtype = {numcol:"float32" for numcol in numcols} 
    dtype.update({col: "category" for col in catcols if col != "id"})
    dt = pd.read_csv("../input/m5-forecasting-accuracy/sales_train_validation.csv", 
                     nrows = nrows, usecols = catcols + numcols, dtype = dtype)
    
    for col in catcols:
        if col != "id":
            dt[col] = dt[col].cat.codes.astype("int16")
            dt[col] -= dt[col].min()
    
    if not is_train:
        for day in range(tr_last+1, tr_last+ 28 +1):
            dt[f"d_{day}"] = np.nan
    
    dt = pd.melt(dt,
                  id_vars = catcols,
                  value_vars = [col for col in dt.columns if col.startswith("d_")],
                  var_name = "d",
                  value_name = "sales")
    
    dt = dt.merge(cal, on= "d", copy = False)
    dt = dt.merge(prices, on = ["store_id", "item_id", "wm_yr_wk"], copy = False)
    
    return dt

In [7]:
def create_fea(dt):
    lags = [7, 28]
    lag_cols = [f"lag_{lag}" for lag in lags ]
    for lag, lag_col in zip(lags, lag_cols):
        dt[lag_col] = dt[["id","sales"]].groupby("id")["sales"].shift(lag)

    wins = [7, 28]
    for win in wins :
        for lag,lag_col in zip(lags, lag_cols):
            dt[f"rmean_{lag}_{win}"] = dt[["id", lag_col]].groupby("id")[lag_col].transform(lambda x : x.rolling(win).mean())

    
    
    date_features = {
        
        "wday": "weekday",
        "week": "weekofyear",
        "month": "month",
        "quarter": "quarter",
        "year": "year",
        "mday": "day",
#         "ime": "is_month_end",
#         "ims": "is_month_start",
    }
    
#     dt.drop(["d", "wm_yr_wk", "weekday"], axis=1, inplace = True)
    
    for date_feat_name, date_feat_func in date_features.items():
        if date_feat_name in dt.columns:
            dt[date_feat_name] = dt[date_feat_name].astype("int16")
        else:
            dt[date_feat_name] = getattr(dt["date"].dt, date_feat_func).astype("int16")

In [8]:
FIRST_DAY = 800 # If you want to load all the data set it to '1' -->  Great  memory overflow  risk !
# FIRST_DAY = 1700

In [ ]:
%%time

df = create_dt(is_train=True, first_day= FIRST_DAY)
df.shape

In [9]:
df.head()

,id,item_id,dept_id,store_id,cat_id,state_id,d,sales,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
0,HOBBIES_1_002_CA_1_validation,1,0,0,0,0,d_800,0.0,2013-04-07,11311,3,2,4,2013,0,0,0,0,1.0,1.0,0.0,3.97
1,HOBBIES_1_002_CA_1_validation,1,0,0,0,0,d_801,0.0,2013-04-08,11311,1,3,4,2013,0,0,0,0,1.0,0.0,1.0,3.97
2,HOBBIES_1_002_CA_1_validation,1,0,0,0,0,d_802,0.0,2013-04-09,11311,5,4,4,2013,0,0,0,0,1.0,1.0,1.0,3.97
3,HOBBIES_1_002_CA_1_validation,1,0,0,0,0,d_803,0.0,2013-04-10,11311,6,5,4,2013,0,0,0,0,1.0,0.0,0.0,3.97
4,HOBBIES_1_002_CA_1_validation,1,0,0,0,0,d_804,0.0,2013-04-11,11311,4,6,4,2013,0,0,0,0,0.0,1.0,1.0,3.97

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31522396 entries, 0 to 31522395
Data columns (total 22 columns):
id              object
item_id         int16
dept_id         int16
store_id        int16
cat_id          int16
state_id        int16
d               object
sales           float32
date            datetime64[ns]
wm_yr_wk        int16
weekday         int16
wday            int16
month           int16
year            int16
event_name_1    int16
event_type_1    int16
event_name_2    int16
event_type_2    int16
snap_CA         float32
snap_TX         float32
snap_WI         float32
sell_price      float32
dtypes: datetime64[ns](1), float32(5), int16(14), object(2)
memory usage: 2.3+ GB

In [11]:
%%time

create_fea(df)
df.shape

CPU times: user 3min 8s, sys: 12.8 s, total: 3min 21s
Wall time: 3min 21s

(31522396, 31)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31522396 entries, 0 to 31522395
Data columns (total 31 columns):
id              object
item_id         int16
dept_id         int16
store_id        int16
cat_id          int16
state_id        int16
d               object
sales           float32
date            datetime64[ns]
wm_yr_wk        int16
weekday         int16
wday            int16
month           int16
year            int16
event_name_1    int16
event_type_1    int16
event_name_2    int16
event_type_2    int16
snap_CA         float32
snap_TX         float32
snap_WI         float32
sell_price      float32
lag_7           float32
lag_28          float32
rmean_7_7       float32
rmean_28_7      float32
rmean_7_28      float32
rmean_28_28     float32
week            int16
quarter         int16
mday            int16
dtypes: datetime64[ns](1), float32(11), int16(17), object(2)
memory usage: 3.2+ GB

In [13]:
df.head()

,id,item_id,dept_id,store_id,cat_id,state_id,d,sales,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price,lag_7,lag_28,rmean_7_7,rmean_28_7,rmean_7_28,rmean_28_28,week,quarter,mday
0,HOBBIES_1_002_CA_1_validation,1,0,0,0,0,d_800,0.0,2013-04-07,11311,3,2,4,2013,0,0,0,0,1.0,1.0,0.0,3.97,NaN,NaN,NaN,NaN,NaN,NaN,14,2,7
1,HOBBIES_1_002_CA_1_validation,1,0,0,0,0,d_801,0.0,2013-04-08,11311,1,3,4,2013,0,0,0,0,1.0,0.0,1.0,3.97,NaN,NaN,NaN,NaN,NaN,NaN,15,2,8
2,HOBBIES_1_002_CA_1_validation,1,0,0,0,0,d_802,0.0,2013-04-09,11311,5,4,4,2013,0,0,0,0,1.0,1.0,1.0,3.97,NaN,NaN,NaN,NaN,NaN,NaN,15,2,9
3,HOBBIES_1_002_CA_1_validation,1,0,0,0,0,d_803,0.0,2013-04-10,11311,6,5,4,2013,0,0,0,0,1.0,0.0,0.0,3.97,NaN,NaN,NaN,NaN,NaN,NaN,15,2,10
4,HOBBIES_1_002_CA_1_validation,1,0,0,0,0,d_804,0.0,2013-04-11,11311,4,6,4,2013,0,0,0,0,0.0,1.0,1.0,3.97,NaN,NaN,NaN,NaN,NaN,NaN,15,2,11

In [14]:
df.dropna(inplace = True)
df.shape

(29845446, 31)

In [15]:
cat_feats = ['item_id', 'dept_id','store_id', 'cat_id', 'state_id'] + ["event_name_1", "event_name_2", "event_type_1", "event_type_2"]
useless_cols = ["id", "date", "sales","d", "wm_yr_wk", "weekday"]
train_cols = df.columns[~df.columns.isin(useless_cols)]
X_train = df[train_cols]
y_train = df["sales"]

In [16]:
train_data = lgb.Dataset(X_train, label = y_train, categorical_feature=cat_feats, free_raw_data=False)
fake_valid_inds = np.random.choice(len(X_train), 1000000)
fake_valid_data = lgb.Dataset(X_train.iloc[fake_valid_inds], label = y_train.iloc[fake_valid_inds],categorical_feature=cat_feats,
                             free_raw_data=False)   # This is just a subsample of the training set, not a real validation set !

In [17]:
params = {
        "objective" : "poisson",
        "metric" :"rmse",
        "force_row_wise" : True,
        "learning_rate" : 0.075,
#         "sub_feature" : 0.8,
        "sub_row" : 0.75,
        "bagging_freq" : 1,
        "lambda_l2" : 0.1,
#         "nthread" : 4
        "metric": ["rmse"],
    'verbosity': 1,
#     'num_iterations' : 200,
    'num_iterations' : 2500,
}

In [18]:
%%time

m_lgb = lgb.train(params, train_data, valid_sets = [fake_valid_data], verbose_eval=100)

/opt/conda/lib/python3.6/site-packages/lightgbm/engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/opt/conda/lib/python3.6/site-packages/lightgbm/basic.py:1291: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

[100]	valid_0's rmse: 2.48683
[200]	valid_0's rmse: 2.39427
[300]	valid_0's rmse: 2.35918
[400]	valid_0's rmse: 2.32838
[500]	valid_0's rmse: 2.30792
[600]	valid_0's rmse: 2.28312
[700]	valid_0's rmse: 2.26868
[800]	valid_0's rmse: 2.25829
[900]	valid_0's rmse: 2.24565
[1000]	valid_0's rmse: 2.23628
[1100]	valid_0's rmse: 2.22695
[1200]	valid_0's rmse: 2.2191
[1300]	valid_0's rmse: 2.21266
[1400]	valid_0's rmse: 2.20602
[1500]	valid_0's rmse: 2.20114
[1600]	valid_0's rmse: 2.19569
[1700]	valid_0's rmse: 2.18968
[1800]	valid_0's rmse: 2.18467
[1900]	valid_0's rmse: 2.17987
[2000]	valid_0's rmse: 2.17561
[2100]	valid_0's rmse: 2.17087
[2200]	valid_0's rmse: 2.16628
[2300]	valid_0's rmse: 2.16162
[2400]	valid_0's rmse: 2.15695
[2500]	valid_0's rmse: 2.15333
CPU times: user 9h 20min 38s, sys: 33.7 s, total: 9h 21min 11s
Wall time: 2h 31min 2s

In [19]:
m_lgb.save_model("model.lgb")

In [20]:
%%time

alphas = [1.035, 1.03, 1.025, 1.02]
weights = [1/len(alphas)]*len(alphas)
sub = 0.

for icount, (alpha, weight) in enumerate(zip(alphas, weights)):

    te = create_dt(False)
    cols = [f"F{i}" for i in range(1,29)]

    for tdelta in range(0, 28):
#     for tdelta in range(0, 2):
        day = fday + timedelta(days=tdelta)
        print(icount, day)
        tst = te[(te.date >= day - timedelta(days=max_lags)) & (te.date <= day)].copy()
        create_fea(tst)
        tst = tst.loc[tst.date == day , train_cols]
        te.loc[te.date == day, "sales"] = alpha*m_lgb.predict(tst) # magic multiplier by kyakovlev



    te_sub = te.loc[te.date >= fday, ["id", "sales"]].copy()
#     te_sub.loc[te.date >= fday+ timedelta(days=h), "id"] = te_sub.loc[te.date >= fday+timedelta(days=h), 
#                                                                           "id"].str.replace("validation$", "evaluation")
    te_sub["F"] = [f"F{rank}" for rank in te_sub.groupby("id")["id"].cumcount()+1]
    te_sub = te_sub.set_index(["id", "F" ]).unstack()["sales"][cols].reset_index()
    te_sub.fillna(0., inplace = True)
    te_sub.sort_values("id", inplace = True)
    te_sub.reset_index(drop=True, inplace = True)
#     te_sub.to_csv("submission.csv",index=False)
    if icount == 0 :
        sub = te_sub
        sub[cols] *= weight
    else:
        sub[cols] += te_sub[cols]*weight
    print(icount, alpha, weight)


sub2 = sub.copy()
sub2["id"] = sub2["id"].str.replace("validation$", "evaluation")
sub = pd.concat([sub, sub2], axis=0, sort=False)
sub.to_csv("submission.csv",index=False)

0 2016-04-25 00:00:00
0 2016-04-26 00:00:00
0 2016-04-27 00:00:00
0 2016-04-28 00:00:00
0 2016-04-29 00:00:00
0 2016-04-30 00:00:00
0 2016-05-01 00:00:00
0 2016-05-02 00:00:00
0 2016-05-03 00:00:00
0 2016-05-04 00:00:00
0 2016-05-05 00:00:00
0 2016-05-06 00:00:00
0 2016-05-07 00:00:00
0 2016-05-08 00:00:00
0 2016-05-09 00:00:00
0 2016-05-10 00:00:00
0 2016-05-11 00:00:00
0 2016-05-12 00:00:00
0 2016-05-13 00:00:00
0 2016-05-14 00:00:00
0 2016-05-15 00:00:00
0 2016-05-16 00:00:00
0 2016-05-17 00:00:00
0 2016-05-18 00:00:00
0 2016-05-19 00:00:00
0 2016-05-20 00:00:00
0 2016-05-21 00:00:00
0 2016-05-22 00:00:00
0 1.035 0.25
1 2016-04-25 00:00:00
1 2016-04-26 00:00:00
1 2016-04-27 00:00:00
1 2016-04-28 00:00:00
1 2016-04-29 00:00:00
1 2016-04-30 00:00:00
1 2016-05-01 00:00:00
1 2016-05-02 00:00:00
1 2016-05-03 00:00:00
1 2016-05-04 00:00:00
1 2016-05-05 00:00:00
1 2016-05-06 00:00:00
1 2016-05-07 00:00:00
1 2016-05-08 00:00:00
1 2016-05-09 00:00:00
1 2016-05-10 00:00:00
1 2016-05-11 00:00:00
1 2016-05-12 00:00:00
1 2016-05-13 00:00:00
1 2016-05-14 00:00:00
1 2016-05-15 00:00:00
1 2016-05-16 00:00:00
1 2016-05-17 00:00:00
1 2016-05-18 00:00:00
1 2016-05-19 00:00:00
1 2016-05-20 00:00:00
1 2016-05-21 00:00:00
1 2016-05-22 00:00:00
1 1.03 0.25
2 2016-04-25 00:00:00
2 2016-04-26 00:00:00
2 2016-04-27 00:00:00
2 2016-04-28 00:00:00
2 2016-04-29 00:00:00
2 2016-04-30 00:00:00
2 2016-05-01 00:00:00
2 2016-05-02 00:00:00
2 2016-05-03 00:00:00
2 2016-05-04 00:00:00
2 2016-05-05 00:00:00
2 2016-05-06 00:00:00
2 2016-05-07 00:00:00
2 2016-05-08 00:00:00
2 2016-05-09 00:00:00
2 2016-05-10 00:00:00
2 2016-05-11 00:00:00
2 2016-05-12 00:00:00
2 2016-05-13 00:00:00
2 2016-05-14 00:00:00
2 2016-05-15 00:00:00
2 2016-05-16 00:00:00
2 2016-05-17 00:00:00
2 2016-05-18 00:00:00
2 2016-05-19 00:00:00
2 2016-05-20 00:00:00
2 2016-05-21 00:00:00
2 2016-05-22 00:00:00
2 1.025 0.25
3 2016-04-25 00:00:00
3 2016-04-26 00:00:00
3 2016-04-27 00:00:00
3 2016-04-28 00:00:00
3 2016-04-29 00:00:00
3 2016-04-30 00:00:00
3 2016-05-01 00:00:00
3 2016-05-02 00:00:00
3 2016-05-03 00:00:00
3 2016-05-04 00:00:00
3 2016-05-05 00:00:00
3 2016-05-06 00:00:00
3 2016-05-07 00:00:00
3 2016-05-08 00:00:00
3 2016-05-09 00:00:00
3 2016-05-10 00:00:00
3 2016-05-11 00:00:00
3 2016-05-12 00:00:00
3 2016-05-13 00:00:00
3 2016-05-14 00:00:00
3 2016-05-15 00:00:00
3 2016-05-16 00:00:00
3 2016-05-17 00:00:00
3 2016-05-18 00:00:00
3 2016-05-19 00:00:00
3 2016-05-20 00:00:00
3 2016-05-21 00:00:00
3 2016-05-22 00:00:00
3 1.02 0.25
CPU times: user 4h 3min 7s, sys: 1min 15s, total: 4h 4min 22s
Wall time: 3h 42min 26s

In [21]:
sub.head(10)

F,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,FOODS_1_001_CA_1_validation,0.915075,0.877595,0.867145,0.828858,1.077880,1.218840,1.088189,0.945025,0.962628,0.937031,0.943110,1.024437,1.258105,1.165952,0.921610,0.869355,0.900942,0.903983,1.013272,1.275114,1.180842,0.908984,0.837685,0.826336,0.836343,0.978046,1.192723,1.168865
1,FOODS_1_001_CA_2_validation,1.091463,1.096579,1.051093,1.278321,1.313991,1.678904,1.412586,0.912975,0.985089,0.908979,0.909424,1.062243,1.530969,1.273357,0.984196,0.963741,0.970131,0.966994,1.113078,1.523170,1.530938,1.006198,0.928149,0.976306,0.778179,1.010063,1.362079,1.356552
2,FOODS_1_001_CA_3_validation,1.090876,1.092338,1.032379,0.993737,1.085357,1.250273,1.132630,0.953295,1.094407,0.983774,0.959246,1.085999,1.305538,1.097642,1.033149,1.032719,1.042292,1.047784,1.144723,1.379929,1.390750,1.016291,1.001592,0.988577,0.991461,1.108706,1.185778,1.149068
3,FOODS_1_001_CA_4_validation,0.396664,0.343777,0.332051,0.337444,0.404773,0.439775,0.451735,0.343865,0.389468,0.365532,0.362069,0.398552,0.421491,0.394714,0.346601,0.343479,0.386330,0.387839,0.442495,0.476106,0.446180,0.366592,0.358419,0.359470,0.375593,0.426065,0.490804,0.464749
4,FOODS_1_001_TX_1_validation,0.194221,0.190756,0.177833,0.180935,0.192379,0.211716,0.211510,0.308693,0.329314,0.284846,0.289690,0.320576,0.350119,0.277432,0.265822,0.299227,0.313594,0.298766,0.323760,0.345374,0.313909,0.255122,0.253347,0.252644,0.264092,0.283465,0.315660,0.312024
5,FOODS_1_001_TX_2_validation,0.452617,0.434599,0.434805,0.417058,0.417386,0.522266,0.484041,0.388088,0.460408,0.406522,0.454774,0.450290,0.561975,0.486258,0.438047,0.418220,0.439059,0.441500,0.499946,0.580127,0.526114,0.420428,0.413351,0.431141,0.418911,0.438604,0.524153,0.495128
6,FOODS_1_001_TX_3_validation,0.416896,0.380381,0.381081,0.444290,0.474398,0.544398,0.519919,0.433871,0.522966,0.460533,0.488365,0.524498,0.604517,0.492581,0.469056,0.438757,0.478271,0.486079,0.531747,0.583814,0.565760,0.438066,0.431149,0.434840,0.448600,0.501365,0.579332,0.511034
7,FOODS_1_001_WI_1_validation,0.326271,0.401307,0.374222,0.383098,0.443592,0.796491,0.737282,0.599294,0.613460,0.575623,0.711737,0.750806,0.755679,0.611212,0.519631,0.533092,0.546481,0.571341,0.675716,0.870236,0.803967,0.561375,0.566890,0.571392,0.583583,0.734588,1.044703,0.846724
8,FOODS_1_001_WI_2_validation,0.312945,0.361041,0.372037,0.358977,0.421540,0.441353,0.392400,0.404660,0.502833,0.413210,0.451992,0.516217,0.507666,0.437160,0.450276,0.428009,0.478074,0.463694,0.485814,0.509818,0.524906,0.368648,0.397269,0.361763,0.369302,0.397803,0.432321,0.414370
9,FOODS_1_001_WI_3_validation,0.241118,0.243511,0.228798,0.237301,0.286641,0.391499,0.354647,0.342307,0.388044,0.336709,0.360506,0.419789,0.443634,0.388350,0.343540,0.342168,0.347377,0.333530,0.391624,0.455525,0.445880,0.313904,0.314030,0.324874,0.319434,0.374682,0.446704,0.387148

In [22]:
sub.id.nunique(), sub["id"].str.contains("validation$").sum()

(60980, 30490)

In [23]:
sub.shape

(60980, 29)